.aboutBio {
    width: 75vw;
    margin: auto;
    font-size: 20px;
    text-align: justify;
    padding-top: 25px;
}

.aboutContent {
    width: 100vw;
    min-height: 81vh;
    margin: 25px auto 55px auto;
}

.aboutPic {
    width: 50vw;
    border: 1px solid lightgray;
    margin-block: 10px;
}

@media only screen and (max-width: 499px) {
    .aboutPic {
        width: 70vw;
    }
}

@media only screen and (min-width: 500px) and (max-width: 1439px) { }

@media only screen and (min-width: 1440px) { }