.aboutContent {
    width:100vw;
    min-height:81vh;
    padding:25px 0px 0px 0px;
}

.bio {
    width:75vw;
    margin:auto;
    font-size:20px;
    text-align:justify;
    padding:10px 0px 0px 0px;
}