.pdf-button {
    width: 10rem;
}

.pdf-button:hover {
    background-color: white;
    color: lightskyblue;
}

.resume-content {
    width: 100vw;
    min-height: 80vh;
    margin: 85px auto 30px auto;
}

.resume-pic {
    margin-block: 10px;
    width: 70vw;
    border: 1px solid lightgray;
}

.resume-view {
    padding-block: 10px;
}

@media only screen and (max-width: 499px) {
    .resume-pic {
        width: 90vw;
    }
}
 
@media only screen and (min-width: 1440px) {
    .pdf-button {
        width: 15rem;
        font-size: 1.5rem;
    }
}