.cardButton {
    width:60%;
}

.cardList {
    width:90%;
    margin:auto;
    display:flex;
    flex-flow:row wrap;
    justify-content:space-around;
    align-content:space-around;
}

.cardText {
    text-align:justify;
}

.cards {
    width:18rem;
    border:none;
    margin:10px 0px 10px 0px;
}