.cardButton {
    width: 60%;
}

.cardList {
    width: 90%;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: space-around;
}

.cards {
    width: 18rem;
    border: 1px solid lightgray;
    margin-block: 10px;
}

.cardText {
    text-align: justify;
}

.titleLink {
    text-decoration: none;
    color: black;
}