.cardList {
    width:90%;
    margin:auto;
    height:90%;
    display:flex;
    flex-flow: row wrap;
    justify-content:space-around;
    align-content:space-around;
    padding-bottom:10px;
}

.cards {
    width:18rem;
    border:none;
}