.resumeContent {
    width: 100vw;
    margin: 25px auto 55px auto;
}

.resumePic {
    margin-block: 10px;
    width: 70vw;
    border: 1px solid lightgray;
}

.resumeView {
    padding-block: 10px;
}

@media screen and (width: 390px) {
    .resumeContent {
        margin-block: 25px;
    }
}