.pdfButton {
    width: 10rem;
}

.resumeContent {
    width: 100vw;
    min-height: 80vh;
    margin: 25px auto 55px auto;
}

.resumePic {
    margin-block: 10px;
    width: 70vw;
    border: 1px solid lightgray;
}

.resumeView {
    padding-block: 10px;
}

@media only screen and (max-width: 499px) {
    .resumePic {
        width: 90vw;
    }
 }
 
@media only screen and (min-width: 500px) and (max-width: 1439px) { }
 
@media only screen and (min-width: 1440px) {
    .pdfButton {
        width: 15rem;
        font-size: 25px;
    }
}