.resumeContent {
    width: 100vw;
    min-height: 81vh;
    margin: 25px auto 55px auto;
}

.resumePic {
    margin-block: 10px;
    width: 70vw;
    border: 1px solid lightgray;
}

.resumeView {
    padding-block: 10px;
}