.homeCard {
    border: none;
} 

.homeContent {
    width: 100vw;
    min-height: 81vh;
    margin: 50px auto 55px auto;
}

.homeLead {
    font-size: 25px;
    padding-top: 25px;
    text-align: justify;
    width: 60vw;
    margin: auto;
}

.homeTitle {
    font-size: 100px;
}

.jumbotron {
    margin: auto;
    width: 60vw;
    height: fit-content;
    flex-grow: 1;
}

@media screen and (min-width: 1440px) {
    .homeLead {
        font-size: 30px;
    }
}

@media only screen and (min-width: 390px) {
    .hometitle {
        font-size: 50px;
    }
}