.homeCard {
        border:none;
} 

.homeContent {
    width:100vw;
    padding:25px 0px 0px 0px;
    align-content:center;
}

.homeEmpty {
    background-color:blue;
}

.homeLead {
    font-size:25px;
    padding:0px 10px 0px 10px;
    text-align:center;
}

.homePic {
    border:none;
}

.jumbotron {
    margin: auto;
    background-color:red;
    max-width:50vw;
    max-height:50vh;
    flex-grow:1;
}

.pic {
    max-width:50%;
    flex-grow:1;
}