.homeCard {
        border:none;
} 

.homeContent {
    width:100vw;
    min-height:81vh;
    padding:100px 0px 0px 0px;
    display:flex;
    flex-direction:column;
    align-content:center;
}

.homeLead {
    font-size:25px;
    padding:25px 10px 0px 10px;
    text-align:justify;
    width:60vw;
    margin:auto;
}

.homePic {
    border:none;
}

.homeTitle {
    font-size:50px;
}

.jumbotron {
    margin: auto;
    width: 60vw;
    height:fit-content;
    flex-grow:1;
}

.pic {
    max-width:50%;
    flex-grow:1;
}