.projectCard-button {
    width: 35%;
}

.projectCard-buttons {
    width: 100%;
    margin: 10px auto auto auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
}

.projectCard-button:hover {
    background-color: lightskyblue;
}

.projectCard-image {
    width: 90%;
    margin: auto;
}

.projectCard-list {
    width: 90%;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: space-around;
}

.projectCard-logos {
    background-color: white;
    width: 15%;
}

.projectCards {
    width: 22rem;
    border: 1px solid lightgray;
    margin-block: 10px;
    font-size: 1rem;
}

.projectCard-technologies {
    margin-block: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: space-around;
}

.projectCard-text {
    text-align: justify;
}

.projectCard-title {
    text-decoration: none;
    color: black;
    font-size: 1.875rem;
}

.project-edit-button {
    margin-top: 7px;
}

@media only screen and (max-width: 499px) {
    .projectCard-button {
        width: 40%;
    }
}
 
@media only screen and (min-width: 1441px) { 
    .projectCard-button {
        font-size: 1.25rem;
    }

    .projectCard-image {
        width: 80%;
    }
    
    .projectCards {
        width: 35rem;
        font-size: 1.375rem;
    }

    .projectCard-title {
        text-decoration: none;
        color: black;
        font-size: 2.25rem;
    }
}