.home-content {
    width: 100vw;
    min-height: 80vh;
    margin: 110px auto 55px auto;
}

.home-lead {
    font-size: 1.5625rem;
    padding-top: 25px;
    text-align: justify;
    width: 60vw;
    margin: auto;
}

.home-title {
    font-size: 100px;
}

@media screen and (max-width: 499px) {
    .home-content {
        max-height: 844px;
        margin-top: 85px;
        margin-bottom: 25px;
    }

    .home-lead {
        width: 65vw;
        font-size: 1.375rem;
    }

    .home-title {
        font-size: 3.125rem;
    }
}

@media screen and (min-width: 1441px) {
    .home-lead {
        font-size: 1.625rem;
    }

    .home-title {
        font-size: 8rem;
    }
}