.home-content {
    width: 100vw;
    min-height: 80vh;
    margin: 110px auto -50px auto;
}

.home-lead {
    font-size: 1.5rem;
    padding-top: 25px;
    text-align: justify;
    width: 60vw;
    margin-bottom: 50px;
    margin-inline: auto;
}

@media screen and (max-width: 499px) {
    .home-content {
        margin: 85px auto -125px auto;
    }

    .home-lead {
        width: 65vw;
        margin: auto;
        font-size: 1.25rem;
    }
}

@media screen and (min-width: 1441px) {
    .home-lead {
        font-size: 1.75rem;
    }
}