.home-content {
    width: 100vw;
    min-height: 80vh;
    margin: 110px auto -25px auto;
}

.home-lead {
    font-size: 1.5rem;
    padding-top: 25px;
    text-align: justify;
    width: 60vw;
    margin: auto;
}

.home-nav-logos {
    width: 10rem;
    height: 50px;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.home-nav-logo {
    width: 2rem;
    display: none;
}

.home-title {
    font-size: 80px;
}

.push {
    height: 50px
}

@media screen and (max-width: 499px) {
    .home-content {
        max-height: 844px;
        margin-top: 85px;
        margin-bottom: 25px;
    }

    .home-lead {
        width: 65vw;
        font-size: 1.375rem;
    }

    .home-title {
        font-size: 3.125rem;
    }
}

@media screen and (max-width: 991px) {
    .home-nav-logo {
        display: block;
    }
}

@media screen and (min-width: 1441px) {
    .home-lead {
        font-size: 1.75rem;
    }

    .home-title {
        font-size: 8rem;
    }
}