.footer-container {
    width: 10rem;
    height: 20px;
    margin: 1rem auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.footer-logo {
    width: 2rem;
    display: none;
}

@media screen and (max-width: 991px) {
    .footer-logo {
        display: block;
    }
}