.edit-experience-actions {
    width: 15rem;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    /* background-color: red; */
}

.edit-experience-content {
    width: 100vw;
    min-height: 80vh;
    margin: 85px auto 30px auto;
}

.edit-experience-field {
    width: fit-content;
    margin: auto;
    /* background-color: green; */
}

.edit-experience-field-container {
    width: fit-content;
    margin: auto;
    /* background-color: yellow; */
}

.edit-experience-field-label {
    width: 8rem;
    margin: auto;
    font-size: 1.5rem;
    text-align: start;
    /* background-color: blue; */
}

.edit-experience-individual-field-container {
    margin: 2rem auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background-color: red; */
}

.edit-experience-input {
    width: 20rem;
    margin: auto;
    height: 2rem;
}

.edit-experience-save-button {
   font-size: 1.5rem;
}
