.experience-content {
    width: 100vw;
    min-height: 80vh;
    margin: 85px auto 30px auto;
}

.experience-edit-button {
    margin-top: 10px;
}

.timeline-element-info {
    text-align: justify;
}

.vertical-timeline-element-subtitle {
    text-align: left;
}

.vertical-timeline-element-title {
    text-align: left;
}

@media screen and (max-width: 499px) { }

@media screen and (max-width: 768px) { }

@media screen and (min-width: 1441px) { }