.navBrand {
   font-size: 22px;
}

.navContainer {
   width: 100vw;
   margin: auto;
}

.navLink {
   text-decoration: none;
   color: black;
   font-size: 20px;
}

.navLink:hover {
   text-decoration: underline;
   color: lightskyblue;
}

@media only screen and (min-width: 1440px) { 
   .navBrand {
      font-size: 26px;
   }
   
   .navLink {
      font-size: 24px;
   }
}

