.nav-brand {
   font-size: 1.375rem;
}

.nav-container {
   width: 100vw;
   margin: auto;
}

.nav-link {
   text-decoration: none;
   color: black;
   font-size: 1.25rem;
}

.nav-link:hover {
   text-decoration: underline;
   color: lightskyblue;
}

@media only screen and (min-width: 1440px) { 
   .nav-brand {
      font-size: 1.625rem;
   }
   
   .nav-link {
      font-size: 1.5rem;
   }
}

