.desc {
    text-align:justify;
}

.expCards {
    width:33rem;
    margin:10px 0px 10px 0px;
}

.expCardsList {
    width:90vw;
    margin:auto;
    text-align:left;
    display:flex;
    flex-flow:row wrap;
    justify-content:space-around;
}