.desc {
    text-align: justify;
}

.expCards {
    width: 33rem;
    margin-block: 10px;
}

.expCardsList {
    width: 90vw;
    margin: auto;
    text-align: left;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}