.academicContent {
    width:100vw;
    min-height:81vh;
    margin:25px auto 55px auto;
}

.education {
    background-color:white;
    width:90vw;
    margin:auto;
}

.school {
    width:90vw;
    margin: 20px auto;
    display:flex;
    flex-direction:row;
}

.schoolInfo {
    width:60vw;
    text-align:left;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
}

.schoolActivities {
    width:45vw;
    margin:auto;
    text-align:left;
}