.bottom {
   display: flex;
   justify-content: space-around;
   width: 100vw;
   margin: auto;
   background-color: white;
   padding-block: 0.625rem;
   position: fixed;
   bottom: 0;
 }

.footer-item {
   font-size: 1rem;
}

.footer-link {
   text-decoration: none;
   color: black;
}
.footer-link:hover {
   text-decoration: underline;
   color: lightskyblue;
}

@media only screen and (max-width: 499px) {
   .footer-item {
      font-size: 0.625rem;
   }
}

@media only screen and (min-width: 1440px) { 
   .footer-item {
      font-size: 1.125rem;
   }
}