.bottom {
   display: flex;
   justify-content: space-around;
   width: 100vw;
   margin: auto;
   background-color: white;
   padding-block: 10px;
   position: fixed;
   bottom: 0;
 }

.footer {
   font-size: 12px;
}

.footerItem {
   width: 25vw;
}

.footerLink {
   text-decoration: none;
   color: black;
}
.footerLink:hover {
   text-decoration: underline;
}

@media screen and (max-width: 390px) {
   .footer {
      font-size: 6px;
   }
}