#root {
  margin: auto;
  text-align: center;
  background-color:cornsilk;
  overflow-x: hidden;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.page-title {
  font-size: 2.875rem;
}

@media screen and (max-width: 499px) { }

@media screen and (min-width: 1441px) {
  .page-subtitle {
    font-size: 3.125rem;
  }

  .page-title {
    font-size: 4.125rem;
  }
}