#root {
  max-width: 1440px;
  margin: auto;
  text-align: center;
  background-color: lightskyblue;
  overflow-x: hidden;
}

.pageTitle {
  font-size: 45px;
}

@media screen and (max-width: 499px) { }

@media screen and (min-width: 1440px) {
  .pageSubTitle {
    font-size: 50px;
  }

  .pageTitle {
    font-size: 65px;
  }
}