.education-content {
    width: 100vw;
    min-height: 80vh;
    margin: 85px auto 30px auto;
}

.education-display {
    width: 80vw;
    margin: auto;
}

.education-display-body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: left;
    background-color: white;
}

.education-display-column {
    width: 25rem;
    margin: 1rem;
}

.education-display-image {
    width: 15rem;
    margin: auto;
}

.education-display-subtitle {
    width: fit-content;
    margin: 1rem auto;
}

.pdf-button {
    width: 10rem;
}

.pdf-button:hover {
    background-color: white;
    color: lightskyblue;
}

.school-pic {
    width: 45%;
    margin: auto;
    border: 1px solid lightgrey;
}

.school-pic-container {
    width: 80vw;
    margin-top: 2rem;
    margin-inline: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@media screen and (max-width: 499px) {
    .school-info {
        width: 90vw;
    }
    
    .school-pic {
        width: 90vw;
        margin-top: 20px;
    }

    .school-pic-container {
        width: 90vw;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}

@media screen and (min-width: 1440px) {
    
}