.edit-about-actions {
    width: 15rem;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
}

.edit-about-content {
    width: 100vw;
    min-height: 80vh;
    margin: 85px auto 55px auto;
}

.edit-about-field {
    width: fit-content;
    margin: auto;
}

.edit-about-field-container {
    width: fit-content;
    margin: auto;
}

.edit-about-field-label {
    width: 10rem;
    margin: auto;
    font-size: 1.5rem;
    text-align: start;
}

.edit-about-individual-field-container {
    margin: 2rem auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.edit-about-input {
    width: 20rem;
    margin: auto;
    height: 2rem;
}

.edit-about-save-button {
   font-size: 1.5rem;
}