.projectCardButton {
    width: 35%;
}

.projectCardButton:hover {
    background-color: lightskyblue;
}

.projectCardImage {
    width: 90%;
    margin: auto;
}

.projectCardList {
    width: 90%;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: space-around;
}

.projectCardLogos {
    background-color: white;
    width: 15%;
}

.projectCards {
    width: 26rem;
    border: 1px solid lightgray;
    margin-block: 10px;
    font-size: 16px;
}

.projectCardTechnologies {
    margin-block: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: space-around;
}

.projectCardText {
    text-align: justify;
}

.projectCardTitle {
    text-decoration: none;
    color: black;
    font-size: 30px;
}

@media only screen and (max-width: 499px) { }
 
@media only screen and (min-width: 1440px) { 
    .projectCardButton {
        font-size: 20px;
    }

    .projectCardImage {
        width: 80%;
    }
    
    .projectCards {
        width: 35rem;
        font-size: 22px;
    }

    .projectCardTitle {
        text-decoration: none;
        color: black;
        font-size: 35px;
    }
}