.eduCard {
    border: 1px solid lightgray;
}

.educationContent {
    width: 100vw;
    min-height: 81vh;
    margin: 25px auto 55px auto;
}

.school {
    width: 90vw;
    margin: auto;
    padding-block: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.schoolInfo {
    width: 38rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.schoolPic {
    width: 27rem;
    margin: auto;
    border: 1px solid lightgrey;
}

.schoolPicContainer {
    width: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

@media screen and (min-width: 390px) and (max-width: 768px) {
    .schoolPic {
        width: 25rem;
        margin-top: 20px;
    }

    .schoolPicContainer {
        width: 38rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}

@media screen and (min-width: 769px) and (max-width: 1208px) {
    .schoolPic {
        width: 15rem;
    }

    .schoolPicContainer {
        width: 38rem;
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}

@media screen and (min-width: 1440px) {
    .schoolInfo {
        width: 42rem;
    }

    .schoolPicContainer {
        width: 33rem;
    }
}